# Core
streamlit==1.50.0
pandas==2.3.3
numpy==2.3.4

# Visualization
plotly==6.3.1

# Database
SQLAlchemy==2.0.44
psycopg2-binary>=2.9.10

# Forecasting
prophet==1.1.7
cmdstanpy==1.2.5
pystan==3.10.0
statsmodels==0.14.5

# Misc
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
tqdm==4.67.1

